.container
{
    width: 100%;
    padding: 5px;
    height: auto;
}

.flex
{
    display: flex;
    flex-flow: row wrap;
}

#left , #right{ width: 50%;}

#left{ padding: 20px; padding-top: 0;}
#right{ 
    
    background-image: url("https://cdn.pixabay.com/photo/2016/02/19/10/00/laptop-1209008_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title
{
    color: rgba(8, 8, 8, 1);
    font-feature-settings: 'pnum' on, 'lnum' on;
    letter-spacing: -0.05em;
    line-height: 74px;
    font-size: 70px;

}

.sub
{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(41, 41, 41, 1);
    font-size: 18px;
    line-height: 24px;
}

.start
{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 99em;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    padding: 7px 20px 9px;
    background: #fff;
    color: #000;
    border-color: #000;
    fill: rgba(41, 41, 41, 1);
    overflow: visible;
    font-weight: 400;
    cursor: pointer;
}